
#display-zone{
	width: 100%;
}

#input-zone{
	padding: 1rem;
}

.container{
  margin-left: 3%;
}

p{
  font-size: larger;
}

.banner{
	width: 100%;
	border-bottom: 1px black solid;
	margin-bottom: 3rem;
}

.banner-title{
	margin-left: 2rem;
}

.footer{
	position: relative;
  bottom: 0;
  
	margin: auto;
	width: 96%;
	padding: 2rem;
	border-top: dotted black 1px;
}
